!!! HTML5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:charset => "utf-8"}
    %meta{:name => "author", :content => "Chris Parsons"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap-responsive.min.css"}
    %link{:rel => "stylesheet", :href => "/css/screen.css"}
    %script{:type => "text/javascript", :src => "/js/jquery-latest.js"}
    %script{:type => "text/javascript", :src => "/js/bootstrap.min.js"}
    /[if lt IE 9]
      %script{:type => "text/javascript", :src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    .container
      %h1.page-header Discover Thamesmead: Admin
      .row-fluid
        .span9
          = yield
        .span3
          %ul.nav.nav-list
            %li
              %a{:href =>'/admin/audiences/new'}
                %i.icon-plus
                Create audience
            %li.nav-header Audiences
            - @audiences.each do |audience|
              %li
                %a{:href => '/admin/audiences/'+audience.slug}
                  %i.icon-user
                  = audience.description
            %li.nav-header Help
            %li
              %a{:href =>'/admin/help'}
                %i.icon-question-sign
                Admin manual
              %a{:href =>'/help'}
                %i.icon-question-sign
                User manual
