%form{:action => @uploader.direct_fog_url, :method => "post", :enctype => "multipart/form-data"}
  %fieldset
    %legend Upload a new image for topics or places.
    %input{:name => "utf8", :type => "hidden"}
    %input{:type => "hidden", :name => "key", :value => @uploader.key}
    %input{:type => "hidden", :name => "AWSAccessKeyId", :value => @uploader.aws_access_key_id}
    %input{:type => "hidden", :name => "acl", :value => @uploader.acl}
    %input{:type => "hidden", :name => "success_action_redirect", :value => @uploader.success_action_redirect}
    %input{:type => "hidden", :name => "policy", :value => @uploader.policy}
    %input{:type => "hidden", :name => "signature", :value => @uploader.signature}
    %div{:style => 'position: relative'}
      %a.btn.btn-primary{:href => 'javascript:;'}
        Choose file...
        %input{:name => "file", :type => "file", :style => 'position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;', :onchange => "$('#upload-file-info').html($(this).val().replace(/.*fakepath./, ''));"}
      %span.label#upload-file-info
    %br
    %input.btn{:type => "submit", :value => "Upload"}
