.dt-logo.clearfix
  %img.pull-right{:src => '/img/discover/logo.png'}
.dt-audience-bg.row-fluid
  - @audience.topics.each do |slug|
    - topic = repository.topic_from_slug(slug)
    .dt-topic-bg{:style => 'background: url(/img/discover/index-bg.jpg)'}
      %a.dt-topic{:href => topic_path(@audience, topic)}
        .name
          = topic.name
        .description
          = topic.description
