!!! HTML5
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:charset => "utf-8"}
    %meta{:name => "author", :content => "Chris Parsons"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap.min.css"}
    %link{:rel => "stylesheet", :href => "/css/bootstrap-responsive.min.css"}
    %link{:rel => "stylesheet", :href => "/css/screen.css"}
    %script{:type => "text/javascript", :src => "js/jquery-latest.js"}
    %script{:type => "text/javascript", :src => "js/bootstrap.min.js"}
    %script{:type => "text/javascript", :src => "js/jquery.timeago.js"}
    /[if lt IE 9]
      %script{:type => "text/javascript", :src => "http://html5shim.googlecode.com/svn/trunk/html5.js"}

  %body
    = yield
