.audience {
  &:hover {
  }
}

.place {
  .marker {
    float: left;
    padding-right: 10px;
    margin-top: -4px;
  }
  .address {
    margin: 5px 0;
  }
  .telephone {
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  .social {
    float: right;
    font-size: 1.1em;
  }
}
