$blue: rgb(27, 164, 224);
$transblue: rgba(27, 164, 224, 0.8);
$signature: 'ITCGoudySansW01-BlackIt';

@mixin blue-box {
  background: $blue;
  color: white;
  border-radius: 5px;
  padding: 3px 0px 3px 10px;
  border: 1px solid $blue;

  a {
    color: white;
  }
}

body {
  background: white;
}

.nav-tabs li {
  a {
    padding: 4px 20px 4px 20px;
    border: #999;
  }

  &.active {
    a {
      background: $blue;
      color: white;
    }
  }
}

.map-page {
  padding: 20px;

  .row-fluid {
    .column {
      position: fixed;
      top: 20px;
      bottom: 0px;

      #map {
        position: absolute;
        top: 30px;
        bottom: 0px;
        left: 0px;
        right: 0px;
      }
    }
  }
}

.right-column {
  padding-right: 10px;
  position: absolute;
  top: 60px;
  right: 0px;
  background: white;
  .right-column-heading {
    position: fixed;
    z-index: 5;
    background: white;
    width: 100%;
    margin: -20px 15px;
  }
  .right-column-content {

    form {
      position: relative;
    }

    .dt-search-icon {
      opacity: 0.6;
      position: absolute;
      top: 5px;
      left: 7px;
    }
  }
}

#map {
  img.olTileImage {
    max-width: none !important;
  }
  .olControlAttribution {
    font-size: 0.8em;
    right: 0.5em;
    bottom: 0.5em;
    position: absolute;
    display: block;
  }
}

.place.accordion-group {
  border: 0px;

  h5.accordion-heading.name {
    margin: 15px 0px 0px 0px;
  }

  .accordion-toggle {
    padding: 0px;
    text-decoration: none;

    .dt-place-place-name {
      @include blue-box;

      margin-left: 30px;
    }

    &.collapsed .dt-place-place-name {
      background: #eee;
      border: 1px solid #ddd;
      color: $blue;
    }

    .dt-marker {
      float: left;
      margin-top: 0px;
    }
  }
  .accordion-inner {
    border: 0px;
    padding: 0px 0px 0px 30px;

    address {
      font-weight: bold;
      margin: 0 10px;
      a {
        color: black;
        text-decoration: none;
      }
    }

    .information {
      font-size: 0.9em;
      margin: 10px 0px 5px 10px;
    }

    .social {
      float: right;
      a { text-decoration: none; }
      margin: -5px 5px 0px 0px;
      font-size: 1.1em;
      img {
        height: 25px;
      }
    }

    .contact {
      @include blue-box;
    }
  }
}

.dt-logo {
  color: $blue;
  float: right;
  font-size: 2.0em;
  font-family: $signature;
  padding: 12px 10px 0px 0px;
}

.dt-index-bg, .dt-audience-bg {
  position: absolute;
  top: 44px;
  bottom: 0px;
  border-top: 1px solid #555;
}

.dt-index-bg {
  padding: 60px 100px;
  background: url(/img/discover/index-bg.jpg) no-repeat;
}

.dt-audience {
  display: block;

  padding: 10px 25px;
  border: 1px solid #333;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  margin-bottom: 30px;

  font-size: 1.5em;
  color: black;
  font-weight: bold;

  &:hover {
    background-color: $transblue;
    color: white;
    text-decoration: none;
    em {
      color: white;
    }
  }

  em {
    color: $blue;
    font-style: normal;
    font-family: $signature;
  }

  p {
    margin: 0
  }
}

.dt-audience-bg {
  width: 100%;
  .dt-topic-bg {
    padding: 0;
    height: 100%;
    width: 20%;

    a.dt-topic {
      background: rgba(255, 255, 255, 0.75);
      padding: 300px 0;
      width: 100%;
      text-align: center;
      height: 100%;
      display: block;

      &:hover {
        text-decoration: none;
        background: $transblue;
        .name, .description {
          color: white;
        }
      }

      .name {
        color: $blue;
        font-style: normal;
        font-size: 2.5em;
        font-family: $signature;
      }

      .description {
        margin-top: 15px;
        font-weight: bold;
        font-size: 1.25em;
        color: black;
      }
    }
  }
}

.dt-topic-name {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  font-family: $signature;
}

@media (max-width: 767px) {
  .map-page .column {
    display: none !important;
  }
  .right-column {
    padding-left: 10px !important;

    .right-column-heading {
      position: absolute;
      top: 0px;
      left: 20px;
      margin: 0px !important;
    }
  }

  .dt-logo {
    float: none;
  }

  .dt-index-bg, .dt-audience-bg {
    margin: 0 -20px;
    padding: 0px;
    .dt-audience {
      margin: 15px 10px;
    }
  }

  .dt-audience-bg {
    .dt-topic-bg {
      height: auto;
      width: 100%;
      float: none;

      a.dt-topic {
        height: auto;
        padding: 15px;

        .name, .description {
          display: inline-block;
        }
      }
    }
  }
}
