.container
  %div{:style => 'height: 20px'}
  .row-fluid
    .span8
      %ul.nav.nav-tabs
        %li
          %a{:href => '/'}
            %i.icon-home
        - @audience.topics.each do |topic|
          %li{:class => "#{'active' if @topic == topic}"}
            %a{:href => topic_path(@audience, topic)}= topic.name
      %script{:src => 'http://openlayers.org/api/OpenLayers.js'}
      #map
      :css
        #map {
          height: 650px;
          opacity: 0.8;
        }
        img.olTileImage {
            max-width: none !important;
        }
        .olControlAttribution {
            font-size: 0.8em;
            right: 0.5em;
            bottom: 0.5em;
            position: absolute;
            display: block;
        }
      :javascript
        $(document).ready(function() {
          var map = new OpenLayers.Map('map');
          var layer = new OpenLayers.Layer.OSM("Simple OSM Map");
          map.addLayer(layer);
          map.setCenter(new OpenLayers.LonLat(0.1142, 51.5040).transform(
            new OpenLayers.Projection("EPSG:4326"),
              map.getProjectionObject()), 14);
        });
    .span4
      %h3== Discover Thamesmead

      %form
        .input-append
          %input.input-xlarge{:type => "text", :placeholder => "What are you looking for?"}
          %button.btn{:type => "button"}
            %i.icon-search

      .well
        feature
      .well{:style => "height: 400px"}
        list of places
