.row-fluid
  .span6
    %label{:for => "description"} Audience description
    %input.span12#description{:type => 'text', :name => 'object[description]', :placeholder => "e.g. I am looking for work", :value => @object.description}
    %label{:for => "topics"} Included topics
    %select.span12#topics{:multiple => 'multiple', :name => 'object[topics][]'}
      = @object.topics.inspect
      - @topics.each do |topic|
        %option{:value => topic.slug, :selected => @object.topics.include?(topic.slug)}= topic.name
