%form{:method => "post", :action => to('/' + @object.slug)}
  %legend== Edit '#{@object.name}'
  = haml :form
  %button.btn.btn-primary{:type => 'submit'}
    %i.icon-edit.icon-white
    Save changes
  %button.btn{:type => 'submit', :name => '_method', :value => 'delete', :onclick => 'return confirm("Are you sure you want to delete this?")'}
    %i.icon-trash
    Delete

%h4 Places in this topic
= haml :_places_list, :locals => { :places => @object.places_by_name(repository) }
