.row-fluid
  .span6
    %label{:for => "name"} Topic name
    %input.span12#name{:type => 'text', :name => 'object[name]', :placeholder => "e.g. Youth", :value => @object.name}
    %label{:for => "places"} Included places
    %select.chzn-select.span12#places{:multiple => 'multiple', :name => 'object[places][]'}
      - @places.each do |place|
        %option{:value => place.slug, :selected => @object.places.include?(place.slug)}= place.name
    %br
    %br
